# Configurazione del database PostgreSQL esterno
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nocameranews

# Configurazione amministrativa
ADMIN_PASSWORD=your_admin_password
